<div class="modal-header">
    <h3 class="modal-title">客户信息</h3>
</div>
<div class="modal-body">
    <form name="form" class="form-validation" novalidate>
        <!-- alert -->
        <div>
            <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
        </div>
        <!-- / alert -->
        <div class="form-group row">
            <label class="col-sm-3 control-label text-right">企业名称:</label>
            <div class="col-sm-8">
                <input type="text" placeholder="请输入企业名称" class="form-control"  name="name" ng-model="customer.name" required>
                <p>
                    <span style="color: red" ng-show="form.name.$invalid">
                        <span ng-show="form.name.$error.required">*企业名称不可为空</span>
                    </span>
                </p>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 control-label text-right">管理员账号:</label>
            <div class="col-sm-8">

                <input required type="text" placeholder="请输入管理员账号" class="form-control"  name="username" ng-model="customer.admin.username">
                <p>
                    <span style="color: red" ng-show="form.username.$invalid">
                        <span ng-show="form.username.$error.required">*管理员账号不可为空</span>
                    </span>
                </p>
            </div>
        </div>



        <div class="form-group row">
            <label class="col-sm-3 control-label text-right">管理员密码:</label>
            <div class="col-sm-8">


                <input type="password"
                       class="form-control" ng-model="customer.admin.password" ng-minlength="6"
                       ng-maxlength="20" name="password" id="password"
                       placeholder="请输入密码..." required>
                <p>
                    <span style="color: red" ng-show="form.password.$invalid">
                        <span ng-show="form.username.$error.required">*管理员密码不可为空</span>
                        <span ng-show="form.password.$error.minlength">*密码长度不小于6</span>
                        <span ng-show="form.password.$error.maxlength">*密码长度不超过20</span>
                    </span>
                </p>


            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 control-label text-right">确认密码:</label>
            <div class="col-sm-8">

                <input type="password" class="form-control" ng-model="passwordagain" name="passwordagain"
                       id="passwordagain" placeholder="请再输一遍密码..." required>
                <p>
                    <span style="color: red" ng-show="form.password.$valid">
                        <span ng-show="passwordagain!=customer.admin.password">*两次密码输入不一致</span>
                    </span>
                </p>

            </div>
        </div>



        <div class="form-group row">
            <label class="col-sm-3 control-label text-right">组织机构编号:</label>
            <div class="col-sm-8">

                <input type="text" placeholder="请输入组织机构编号" class="form-control"  name="organizeNum" ng-model="customer.organizeNum">

            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 control-label text-right">注册成立日期:</label>
            <div class="col-sm-8">
                <input type="text"  class="form-control w-sm pull-left m-r-xs" name="foundTime" datepicker-popup="{{format}}" placeholder="请选择注册成立日期" ng-model="customer.foundTime" is-open="foundTimeOpened" datepicker-options="dateOptions" min-date="tomorrow"  close-text="关闭" />
                <span>
                    <button type="button" class="btn btn-default pull-left m-r-xs" ng-click="timeTool($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 control-label text-right">法人代表:</label>
            <div class="col-sm-8">
                <input type="text" placeholder="请输入法人代表" class="form-control"  name="represent" ng-model="customer.represent">

            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 control-label text-right">企业联系人:</label>
            <div class="col-sm-8">
                <input type="text" placeholder="请输入企业联系人" class="form-control"   name="contacts" ng-model="customer.contacts">

            </div>
        </div>


        <div class="form-group row">
            <label class="col-sm-3 control-label text-right">企业联系电话:</label>
            <div class="col-sm-8">
                <input type="text" placeholder="请输入企业联系电话" class="form-control"   name="phone" ng-model="customer.phone">

            </div>
        </div>



        <div class="form-group row">
            <label class="col-sm-3 control-label text-right">24小时值班电话:</label>
            <div class="col-sm-8">
                <input type="text" placeholder="请输入24小时值班电话" class="form-control"   name="dutyPhone" ng-model="customer.dutyPhone">

            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 control-label text-right">企业员工数量:</label>
            <div class="col-sm-8">
                <input type="number" placeholder="请输入企业员工数量" class="form-control"   name="staffNum" ng-model="customer.staffNum">

            </div>
        </div>


        <div class="form-group row">
            <label class="col-sm-3 control-label text-right">办公地址:</label>
            <div class="col-sm-8">
                <input type="text" placeholder="请输入办公地址" class="form-control"   name="address" ng-model="customer.address">

            </div>
        </div>


        <div class="form-group row">
            <label class="col-sm-3 control-label text-right">注册地点:</label>
            <div class="col-sm-8">
                <input type="text" placeholder="请输入注册地点" class="form-control"   name="registerAddress" ng-model="customer.registerAddress">

            </div>
        </div>


        <div class="form-group row">
            <label class="col-sm-3 control-label text-right">备注:</label>
            <div class="col-sm-8">
                <input type="text" placeholder="请输入备注" class="form-control"   name="remark" ng-model="customer.remark">

            </div>
        </div>




    </form>
</div>
<div class="modal-footer ng-scope">
    <button class="btn btn-default" ng-click="close()">取消</button>
    <button type="submit" class="btn btn-primary" ng-click="update()" ng-disabled='form.$invalid || passwordagain!=customer.admin.password'>保存</button>
</div>