<div class="modal-header">
    <h3 class="modal-title">单车分组信息</h3>
</div>
<div class="modal-body">
    <form name="form" class="form-validation" novalidate>
        <!-- alert -->
        <div>
            <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
        </div>
        <!-- / alert -->
        <div class="form-group row">
            <label class="col-sm-3 control-label text-right">单车分组名称:</label>
            <div class="col-sm-8">
                <input type="text" placeholder="单车分组名称" class="form-control"  name="name" ng-model="vehicleGroup.name" required>
                <p>
                    <span style="color: red" ng-show="form.name.$invalid">
                        <span ng-show="form.name.$error.required">*单车分组名称不能为空</span>
                    </span>
                </p>
            </div>
        </div>


        <div class="form-group row">
            <label class="col-sm-3 control-label text-right">备注:</label>
            <div class="col-sm-8">
                <input type="text" placeholder="请输入备注" class="form-control"  name="remark" ng-model="vehicleGroup.remark">
            </div>
        </div>

    </form>
</div>
<div class="modal-footer ng-scope">
    <button class="btn btn-default" ng-click="close()">取消</button>
    <button type="submit" class="btn btn-primary" ng-click="update()" ng-disabled='form.$invalid'>保存</button>
</div>