<div class="panel panel-default" ng-controller="vehicleGroupListController">
    <div>
        <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
    </div>
    <div class="wrapper-sm" >

        <div class="row">
            <div class="col-lg-12">
                <button class="btn m-b-xs btn-default btn-addon pull-left m-r" ng-click="createVehicleGroup()"><i class="fa fa-user"></i>添加单车分组</button>
                <button class="btn m-b-xs btn-default pull-right m-r-xs" ng-click="search()">查询</button>
                <input ng-model="name" class="form-control w-sm pull-right m-r-xs" placeholder="输入单车分组名称查询"/>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                    <div ng-grid="gridOptions" style="min-height:480px"></div>
                </div>
            </div>
            </div>
    </div>
</div>