<div class="modal-header">
    <h3 class="modal-title">单车类型信息</h3>
</div>
<div class="modal-body">
    <form name="form" class="form-validation" novalidate>
        <!-- alert -->
        <div>
            <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
        </div>
        <!-- / alert -->
        <div class="form-group row">
            <label class="col-sm-3 control-label text-right">单车类型名称:</label>
            <div class="col-sm-8">
                <input type="text" placeholder="单车类型名称" class="form-control"  name="name" ng-model="bikeType.name" required>
                <p>
                    <span style="color: red" ng-show="form.name.$invalid">
                        <span ng-show="form.name.$error.required">*单车类型名称不能为空</span>
                    </span>
                </p>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 control-label text-right">单车类型代码:</label>
            <div class="col-sm-8">
                <input type="text" placeholder="请输入单车类型代码" class="form-control"  name="code" ng-model="bikeType.code" required>
                <p>
                    <span style="color: red" ng-show="form.code.$invalid">
                        <span ng-show="form.code.$error.required">*单车类型名称不能为空</span>
                    </span>
                </p>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 control-label text-right">备注:</label>
            <div class="col-sm-8">
                <input type="text" placeholder="请输入备注" class="form-control"  name="remark" ng-model="bikeType.remark">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 control-label text-right">图片选择：</label>
            <div class="col-sm-8">
                <select name="exhibition" class="form-control w-lg m-r-xs pull-left" ng-model="file" ng-options="file.remark for file in files"></select>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 control-label text-right">图片预览：</label>
            <div class="col-sm-8">
                <div class=""><img ng-src="{{imageUrl}}" style="width:200px;height:120px"> </div>
            </div>
        </div>

    </form>
</div>
<div class="modal-footer ng-scope">
    <button class="btn btn-default" ng-click="close()">取消</button>
    <button type="submit" class="btn btn-primary" ng-click="update()" ng-disabled='form.$invalid'>保存</button>
</div>