<div class="container-fluid child-page-box">
  <div class="row childPage-Top">
    <div class="row child-page-title-common-bg">
      <h2 class="tac">汽车税务监管图表</h2>
    </div>
  </div>
  <div class="row relative" ng-controller="carTaxSupervise">
    <div class="row panel-body echarts-common-bg">
      <div class="col-md-8 panel panel-body childe-charts-style">
        <h1 class="col-md-3 col-xs-4 col-xs-offset-1" style="margin-left:30px; padding:0;">税收数据</h1>
        <div class="panel-body" id="timeTaxChartConfig" style="width:100%;height:450px;"></div>
      </div>
      <div class="col-md-4 panel panel-body childe-charts-style">
        <div class="panel-body" id="areaTaxChartConfig" style="width:100%;height:450px;"></div>
        <!--日期选择开始-->
        <div class="relative" style="position: absolute;top:24%;right:1%;">
          <button type="button" class="btn btn-default pull-right m-r-xs" ng-click="timeTool($event)"><i
            class="glyphicon glyphicon-calendar"></i></button>
          <input type="text" class="form-control w-sm pull-right m-r-xs" name="createTime"
                 datepicker-popup="{{format}}" placeholder="" ng-model="createTime"
                 is-open="createTimeOpened" datepicker-options="dateOptions" max-date="maxDate"
                 close-text="关闭" style="height:28px;width:100px;"/>
        </div>
        <!--日期选择结束-->
      </div>
      <div class="clearfix"></div>
    </div>
    <!--table-->
    <div class="row panel-body bg-white child-page-scroll-table-box">
      <h2>税收明细</h2>
      <!-- table滚动开始 -->
      <div class="row panel-body child-page-scroll-table">
        <div class="row">
          <table class="table table-hover child-page-table-1" border="1" align="center" cellpadding="0" cellspacing="0">
            <tr>
              <td width="8.3%">账单编号</td>
              <td width="8.3%">车牌号码</td>
              <td width="8.3%">区域</td>
              <td width="8.3%">运营方</td>
              <td width="8.3%">时间</td>
              <td width="8.3%">行驶距离</td>
              <td width="8.3%">本次收益</td>
              <td width="8.3%">付款方式</td>
              <td width="8.3%">税收机构</td>
              <td width="8.3%">收益金额</td>
              <td width="8.3%">税率</td>
              <td width="8.3%">应交税费</td>
            </tr>
          </table>
        </div>
        <div class="row" id="tableScrollDemo">
          <div id="tableScrollDemoA">
            <table class="table table-striped table-hover child-page-table-2" border="0" align="center" cellpadding="0" cellspacing="0">
              <tr ng-repeat="carDeposit in codes">
                <td width="8.3%">{{carDeposit.id}}</td>
                <td width="8.3%">{{carDeposit.plate}}</td>
                <td width="8.3%">{{carDeposit.region}}</td>
                <td width="8.3%">{{carDeposit.operationOrg}}</td>
                <td width="8.3%">{{carDeposit.createTime | date:"yyyy-MM-dd HH:mm:ss"}}</td>
                <td width="8.3%">{{carDeposit.distance}}</td>
                <td width="8.3%">{{carDeposit.currentEarn}}</td>
                <td width="8.3%">{{carDeposit.payment}}</td>
                <td width="8.3%">{{carDeposit.taxOrg}}</td>
                <td width="8.3%">{{carDeposit.totalEarn}}</td>
                <td width="8.3%">{{carDeposit.taxRate}}</td>
                <td width="8.3%">{{carDeposit.payTax}}</td>
              </tr>
            </table>
          </div>
          <div id="tableScrollDemoB">
            <table class="table table-striped table-hover child-page-table-2" border="0" align="center" cellpadding="0" cellspacing="0">
              <tr ng-repeat="carDeposit in codes">
                <td width="8.3%">{{carDeposit.id}}</td>
                <td width="8.3%">{{carDeposit.plate}}</td>
                <td width="8.3%">{{carDeposit.region}}</td>
                <td width="8.3%">{{carDeposit.operationOrg}}</td>
                <td width="8.3%">{{carDeposit.createTime | date:"yyyy-MM-dd HH:mm:ss"}}</td>
                <td width="8.3%">{{carDeposit.distance}}</td>
                <td width="8.3%">{{carDeposit.currentEarn}}</td>
                <td width="8.3%">{{carDeposit.payment}}</td>
                <td width="8.3%">{{carDeposit.taxOrg}}</td>
                <td width="8.3%">{{carDeposit.totalEarn}}</td>
                <td width="8.3%">{{carDeposit.taxRate}}</td>
                <td width="8.3%">{{carDeposit.payTax}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <!--table滚动结束-->
    </div>
  </div>
</div>