<div class="container-fluid child-page-box">
  <div class="row childPage-Top">
    <div class="row child-page-title-common-bg">
      <h2 class="tac">单车安全监管图表</h2>
    </div>
  </div>
  <div class="row relative" ng-controller="dashboardIllegalMoving">
    <div class="row panel-body echarts-common-bg">
      <div class="col-md-7 panel panel-body childe-charts-style" style="padding-left:30px;height:auto;">
        <h1 class="col-md-4 col-sm-12" style="margin-left:0;padding:0;">共享单车非法移动报警</h1>
        <!--地图的图例-->
        <h6 class="row col-md-12 col-sm-12 panel-body">
          <span class="bg-yellow" style="margin:0;"></span>&nbsp;&nbsp;车辆非法移动中
          <span class="bg-red"></span>&nbsp;&nbsp;非法移动结束
        </h6>
        <div class="panel-body" id="mapChart" style="width:100%;height:450px;margin-top:30px;">地图</div>
      </div>
      <div class="col-md-5 panel panel-body childe-charts-style relative" style="height:600px;">
        <h1 class="col-md-11">区域非法移动数</h1>
        <div class="row" id="option1" style="width:100%;height:280px;position:relative;top:-30px;">右上</div>
        <!--日期选择控件-->
        <div style="position: absolute;top:19px;right:8%;z-index:99;">
          <button type="button" class="btn btn-default pull-right m-r-xs" ng-click="timeTool($event)"><i
                  class="glyphicon glyphicon-calendar"></i></button>
          <input type="text" class="form-control w-sm pull-right m-r-xs" name="createTime"
                 datepicker-popup="{{format}}" placeholder="" ng-model="date"
                 is-open="createTimeOpened" datepicker-options="dateOptions" max-date="maxDate"
                 close-text="关闭" style="height:28px;"/>
        </div>
        <!--日期选择控件结束-->
        <h1 class="col-md-11">警报统计</h1>
        <div class="row" id="option2" style="width:100%;height:280px;position:relative;top:-30px;">右下</div>
      </div>
      <div class="clearfix"></div>
    </div>
    <!--table-->
    <div class="row panel-body bg-white child-page-scroll-table-box">
      <h2>非法移动警报明细</h2>
      <!--<div ng-grid="gridOptions" style="min-height:350px;" class="table-bordered"></div>-->
      <!-- table滚动开始 -->
      <div class="row panel-body child-page-scroll-table">
        <div class="row">
          <table class="table table-hover child-page-table-1" border="1" align="center" cellpadding="0" cellspacing="0">
            <tr>
              <td width="12.5%">车辆编号</td>
              <td width="12.5%">运营方</td>
              <td width="12.5%">地区</td>
              <td width="12.5%">起点</td>
              <td width="12.5%">终点</td>
              <td width="12.5%">上次使用人</td>
              <td width="12.5%">时间</td>
              <td width="12.5%">处理结果</td>
            </tr>
          </table>
        </div>
        <div class="row" id="tableScrollDemo">
          <div id="tableScrollDemoA">
            <table class="table table-striped table-hover child-page-table-2" border="0" align="center" cellpadding="0"
                   cellspacing="0">
              <tr ng-repeat="x in tableSource">
                <td width="12.5%">{{x.plantNumber}}</td>
                <td width="12.5%">{{x.operationName}}</td>
                <td width="12.5%">{{x.areaName}}</td>
                <td width="12.5%">{{x.startPoint}}</td>
                <td width="12.5%" ng-style="setColor(x.endPoint)">{{x.endPoint}}</td>
                <td width="12.5%">{{x.lastUser}}</td>
                <td width="12.5%">{{x.date | date:"yyyy-MM-dd hh:mm:ss"}}</td>
                <td width="12.5%">{{x.result}}</td>
              </tr>
            </table>
          </div>
          <div id="tableScrollDemoB">
            <table class="table table-striped table-hover child-page-table-2" border="0" align="center" cellpadding="0"
                   cellspacing="0">
              <tr ng-repeat="x in tableSource">
                <td width="12.5%">{{x.plantNumber}}</td>
                <td width="12.5%">{{x.operationName}}</td>
                <td width="12.5%">{{x.areaName}}</td>
                <td width="12.5%">{{x.startPoint}}</td>
                <td width="12.5%" ng-style="setColor(x.endPoint)">{{x.endPoint}}</td>
                <td width="12.5%">{{x.lastUser}}</td>
                <td width="12.5%">{{x.date | date:"yyyy-MM-dd hh:mm:ss"}}</td>
                <td width="12.5%">{{x.result}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <!--table滚动结束-->
    </div>
  </div>
</div>