<div class="modal-header">
    <h3 class="modal-title">用户信息</h3>
</div>
<div class="modal-body">
    <form name="form" class="form-validation" novalidate>
        <!-- alert -->
        <div>
            <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
        </div>
        <!-- / alert -->
        <div class="form-group row">
            <label class="col-sm-3 control-label text-right">用户登录名:</label>
            <div class="col-sm-8">
                <label class="col-sm-12 control-label text-left">{{riderDto.username}}</label>
            </div>
        </div>


        <div class="form-group row">
            <label class="col-sm-3 control-label text-right">用户姓名:</label>
            <div class="col-sm-8">
                <label class="col-sm-12 control-label text-left">{{riderDto.fullName}}</label>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 control-label text-right">手机号:</label>
            <div class="col-sm-8">
                <label class="col-sm-12 control-label text-left">{{riderDto.phone}}</label>
            </div>
        </div>



        <div class="form-group row">
            <label class="col-sm-3 control-label text-right">邮箱:</label>
            <div class="col-sm-8">
                <label class="col-sm-12 control-label text-left">{{riderDto.email}}</label>
            </div>
        </div>


        <div class="form-group row">
            <label class="col-sm-3 control-label text-right">用户状态:</label>
            <div class="col-sm-8">
                <label class="col-sm-12 control-label text-left" ng-if="riderDto.userStatus == 0 ">
                    禁用
                </label>

                <label class="col-sm-12 control-label text-left" ng-if="riderDto.userStatus == 1 ">
                    启用
                </label>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 control-label text-right" ng-if="riderDto.userStatus == 1 ">启用时间:</label>
            <label class="col-sm-3 control-label text-right" ng-if="riderDto.userStatus == 0 ">禁用时间:</label>
            <div class="col-sm-8">
                <label class="col-sm-12 control-label text-left" ng-if="riderDto.userStatus == 0 ">
                    {{riderDto.disableTime | date:'yyyy-MM-dd HH:mm:ss'}}
                </label>
                <label class="col-sm-12 control-label text-left" ng-if="riderDto.userStatus == 1 ">
                    {{riderDto.enableTime | date:'yyyy-MM-dd HH:mm:ss'}}
                </label>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 control-label text-right">用户角色:</label>
            <div class="col-sm-8">
                <b ng-repeat="role in roles">
                    <label class="i-checks">
                        <input type="checkbox" checklist-model="riderDto.roles" disabled checklist-value="role">
                        <i></i>
                        {{role.name}}
                    </label>
                </b>
            </div>
        </div>

    </form>
</div>
<div class="modal-footer ng-scope">
    <button class="btn btn-default" ng-click="close()">关闭</button>
</div>