<ul class="breadcrumb bg-white b-b wrapper-sm m-b-none">
    <li><a href><i class="fa fa-home"></i>主页</a></li>
    <li><a href>资源</a></li>
    <li class="active">单车管理</li>
</ul>

<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="bikeListController">
    <div>
        <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
    </div>

    <div class="wrapper-sm">
        <div class="panel panel-default">
            <div class="row wrapper">
                <div class="col-lg-12">
                    <button class="btn m-b-xs btn-default btn-addon pull-left m-r" ng-click="createBike()"><i class="fa fa-user"></i>添加单车</button>
                    <button class="btn m-b-xs btn-default btn-addon pull-left m-r" ng-click="importBike()"><i class="fa fa-user"></i>批量上传</button>
                    <!--<label class="btn m-b-xs pull-left m-r">批量上传:</label>-->
                    <!--<div class="col-lg-6">-->
                        <!--<div excel-upload targeturi="'files/import-excel'" filename="" on-change="upExcel(type,title,text,name)" name=""></div>-->
                    <!--</div>-->
                    <button class="btn m-b-xs btn-default pull-right m-r-xs" ng-click="search()">查询</button>
                    <select class="form-control w-sm pull-right m-r-xs" placeholder="选择单车类型查询" ng-model="bikeType"
                            ng-options="bikeType.name for bikeType in bikeTypes"></select>
                    <input ng-model="plateNumber" class="form-control w-sm pull-right m-r-xs" placeholder="输入车牌号码查询"/>
                </div>
            </div>

            <div class="b-t">
                <div class="table-responsive">
                    <div ng-grid="gridOptions" style="min-height:680px"></div>
                </div>
            </div>
        </div>
    </div>
</div>