<ul class="breadcrumb bg-white b-b wrapper-sm m-b-none">
    <li><a href><i class="fa fa-home"></i> 主页</a></li>
    <li><a href>资源</a></li>
    <li class="active">文件管理</li>
</ul>

<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="fileListCtrl">
    <div>
        <toaster-container
                toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
    </div>

    <div class="wrapper-sm">
        <div class="panel panel-default">
            <div class="row wrapper">
                <div class="col-lg-12">
                    <button class="btn m-b-xs btn-default btn-addon" ng-click="createFile()"><i class="fa fa-user"></i>新增文件
                    </button>
                    <button class="btn m-b-xs btn-default pull-right m-r-xs" ng-click="search()">查询</button>
                    <select class="form-control w-sm pull-right m-r-xs" placeholder="选择图片类型查询" ng-model="fileType"
                            ng-options="fileType.name for fileType in fileTypes"></select>
                    <input ng-model="businessName" class="form-control w-sm pull-right m-r-xs" placeholder="输入业务名称查询"/>
                </div>
            </div>

            <div class="b-t">
                <div class="table-responsive">
                    <div ng-grid="gridOptions" style="min-height:680px"></div>
                </div>
            </div>
        </div>
    </div>
</div>