<div class="modal-header">
    <h3 class="modal-title">查看文件</h3>
</div>
<div class="modal-body">
    <form name="form" class="form-validation" novalidate>
        <!-- alert -->
        <div>
            <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
        </div>
        <!-- / alert -->
        <div class="form-group row">
            <label class="col-sm-3 control-label text-right">文件类型:</label>
            <div class="col-sm-8">
                <label class="col-sm-12 control-label text-left">{{file.fileType.name}}</label>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 control-label text-right">业务名称:</label>
            <div class="col-sm-8">
                <label class="col-sm-12 control-label text-left">{{file.businessName}}</label>
            </div>
        </div>


        <div class="form-group row" ng-if="file.fileType.id == 1 ">
            <label class="col-sm-3 control-label text-right" >图片:</label>
            <div class="col-sm-8">
                <label class="col-sm-12 control-label text-left">
                    <img ng-src={{imageUrl}} style="width:200px;height:120px">
                </label>
            </div>
        </div>
        <div class="form-group row" ng-if="file.fileType.id != 1 ">
            <label class="col-sm-3 control-label text-right" >文件地址:</label>
            <div class="col-sm-8">
                <label class="col-sm-12 control-label text-left">
                    <a>{{fileUrl}}</a>
                </label>
            </div>
        </div>


        <div class="form-group row">
            <label class="col-sm-3 control-label text-right">创建时间:</label>
            <div class="col-sm-8">
                <label class="col-sm-12 control-label text-left">
                    {{file.createTime | date:'yyyy-MM-dd HH:mm:ss'}}
                </label>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 control-label text-right">备注:</label>
            <div class="col-sm-8">
                <label class="col-sm-12 control-label text-left">
                    {{file.remark}}
                </label>
            </div>
        </div>

    </form>
</div>
<div class="modal-footer ng-scope">
    <button class="btn btn-default" ng-click="close()">关闭</button>
</div>