<div class="modal-header">
    <h3 class="modal-title">监管机构信息</h3>
</div>
<div class="modal-body">
    <form name="form" class="form-validation" novalidate>
        <!-- / alert -->
        <div class="form-group row">
            <label class="col-sm-3 control-label text-right">机构名称:</label>
            <div class="col-sm-8">
                <input type="text" placeholder="请输入机构名称" class="form-control" name="name" ng-model="regulatorOrgDetailsDto.name"
                       required>
                <p>
                    <span style="color: red" ng-show="form.name.$invalid">
                        <span ng-show="form.name.$error.required">*机构名称不可为空</span>
                    </span>
                </p>
            </div>
        </div>
        <div class="form-group row">
            <input type="password" autocomplete="new-password" style="visibility:hidden; height:0; width:1px; position:absolute; left:0; top:0">
            <label class="col-sm-3 control-label text-right">管理员账号:</label>
            <div class="col-sm-8">
                <input required type="text" placeholder="请输入管理员账号" ng-blur="check()" class="form-control" name="username" ng-model="regulatorOrgDetailsDto.adminName">
                <p>
                    <span style="color: red" ng-show="form.username.$invalid">
                        <span ng-show="form.username.$error.required">*管理员账号不可为空</span>
                    </span>
                </p>
            </div>
        </div>
        <div class="form-group row">
            <input type="password" autocomplete="new-password" style="visibility:hidden; height:0; width:1px; position:absolute; left:0; top:0">
            <label class="col-sm-3 control-label text-right">管理员密码:</label>
            <div class="col-sm-8">
                <input type="password" class="form-control" ng-model="regulatorOrgDetailsDto.password" ng-minlength="6" ng-maxlength="20" name="password" id="password" placeholder="请输入密码..." required>
                <p>
                    <span style="color: red" ng-show="form.password.$invalid">
                        <span ng-show="form.password.$error.required">*管理员密码不可为空</span>
                        <span ng-show="form.password.$error.minlength">*密码长度不小于6</span>
                        <span ng-show="form.password.$error.maxlength">*密码长度不超过20</span>
                    </span>
                </p>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 control-label text-right">确认密码:</label>
            <div class="col-sm-8">
                <input type="password" class="form-control" ng-model="passwordagain" name="passwordagain" id="passwordagain" placeholder="请再输一遍密码.. ." required>
                <p>
                    <span style="color: red" ng-show="form.password.$valid">
                        <span ng-show="passwordagain!=regulatorOrgDetailsDto.password">*两次密码输入不一致</span>
                    </span>
                </p>

            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 control-label text-right">机构编号:</label>
            <div class="col-sm-8">
                <input type="text" placeholder="请输入机构编号" class="form-control" name="organizeNum" ng-model="regulatorOrgDetailsDto.organizeNum">

            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 control-label text-right">单位领导:</label>
            <div class="col-sm-8">
                <input type="text" placeholder="请输入单位领导" class="form-control" name="represent" ng-model="regulatorOrgDetailsDto.represent">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 control-label text-right">机构联系人:</label>
            <div class="col-sm-8">
                <input type="text" placeholder="请输入机构联系人" class="form-control" name="contacts" ng-model="regulatorOrgDetailsDto.contactsName">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 control-label text-right">联系电话:</label>
            <div class="col-sm-8">
                <input type="text" placeholder="请输入联系电话" class="form-control" ng-pattern="/^1[3|4|5|7|8]\d{9}$|(^(\d{3,4}-)?\d{7,8})$/" name="phone" ng-model="regulatorOrgDetailsDto.phone">
                <p>
                    <span style="color: red" ng-show="form.phone.$invalid">
                        <span class="warning" name="prompt" ng-show="form.phone.$error.pattern">*格式不正确，请输入正确的格式:</br>手机：181****8815</br>固定电话：(0556-)43***165
                        </span>
                    </span>
                </p>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 control-label text-right">地址:</label>
            <province-city-picker region="regulatorOrgDetailsDto.region"></province-city-picker>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 control-label text-right">单位地址:</label>
            <div class="col-sm-8">
                <input type="text" placeholder="请输入单位地址" class="form-control" name="address" ng-model="regulatorOrgDetailsDto.address">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 control-label text-right">注册地点:</label>
            <div class="col-sm-8">
                <input type="text" placeholder="请输入注册地点" class="form-control" name="registerAddress" ng-model="regulatorOrgDetailsDto.registerAddress">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 control-label text-right">备注:</label>
            <div class="col-sm-8">
                <input type="text" placeholder="请输入备注" class="form-control" name="remark" ng-model="regulatorOrgDetailsDto.remark">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer ng-scope">
    <button class="btn btn-default" ng-click="close()">取消</button>
    <button type="submit" class="btn btn-primary" ng-click="create()" ng-disabled='form.$invalid || passwordagain!=regulatorOrgDetailsDto.password'>新增
    </button>
</div>