<div class="panel panel-default" ng-controller="sysUserListController">
    <div>
        <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
    </div>
    <div class="wrapper-sm">
        <div>
            <button class="btn m-b-xs btn-default btn-addon" ng-click="createSysUser()"><i class="fa fa-user"></i>添加账户</button>
            <button class="btn m-b-xs btn-default pull-right m-r-xs" ng-click="search()">查询</button>
            <select class="form-control w-sm pull-right m-r-xs" placeholder="选择账户角色名查询" ng-model="role" ng-options="role.name for role in roles"></select>
            <input ng-model="username" class="form-control w-sm pull-right m-r-xs" placeholder="输入账户登录名查询"/>
            <input ng-model="fullName" class="form-control w-sm pull-right m-r-xs" placeholder="输入姓名查询"/>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                    <div ng-grid="gridOptions" style="min-height:480px"></div>
                </div>
            </div>
        </div>

    </div>
</div>